body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('http://help.autodesk.com/cloudhelp/2016/ENU/3DSMax-Tutorial/images/GUID-3247F711-4CA1-4CD0-B2B9-EC798B2A8C85.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-left: 15vw;
}

.Smurf {
  width: 25vh;
  height: 25vh;
  background: white;
  border: 3px dashed rgba(25, 181, 254, .8);
  text-decoration: none;
  border-radius: 25px;
  padding: 10%;
}

.Smurf a {
  text-decoration: none;
  color: rgba(25, 181, 254, .8);
}

.Smurf a:last-child {
  color: white;
}

.Smurf h3 {
  padding-bottom: 2%;
}

.Smurf p {
  padding-bottom: 2%;
}

.updateSmurf {
  background: rgba(25, 181, 254, .8);
  padding: 5%;
  border-radius: 25px;
  border: 1px solid lightslategray;
}

.Smurfsheader {
  background: white;
  border: 3px dashed rgba(25, 181, 254, .8);
  border-radius: 25px;
  font-size: 3em;
  color: rgba(129, 207, 224, 1);
  background: color;
  width: 100%;
  text-align: center;
}

.Smurfs {
  width: 100%;
}